@font-face{font-family:quicksand;src:url(http://assets.gedrix.net/fonts/Quicksand/Quicksand-Light.otf)}
.clearfix {
    clear: both;
}
body {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    background: #fff;
}
.container-box {
    background: #fff;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-box .title-box {
    margin-top: 30px;
    text-align: center;
}
.container-box .title {
    background: #E18746;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-family: Arial;
}
.content {
    margin-top: 50px;
}
.container-box p {
    color: #565757;
    font-size: 11px;
}

.index-1 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: dashed 1px #ebebeb;
    border-top: dashed 1px #ebebeb;
}

.index-2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: dashed 1px #ebebeb;
}

.count-box {
    text-align: center;
    background: #183E6C;
    margin-bottom: 20px;
}
.counter {
    font-size: 36px;
    color: #fff;
}
.counter-text {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.counter-text-info {
    font-size: 14px;
    color: #fff;
}
.support-box {
    text-align: center;
}
.sharepost {
    color: #fff;
    margin-top: 10px;
    float: right;
}
.sharepost ul {
    padding: 0px;
    margin: 0px;
}
.sharepost ul li {
    display: block;
    float: left;
    margin-right: 2px;
    margin-bottom: 5px;
    border-radius: 50%;
}
.sharepost ul li:hover {
    opacity: 0.8;
}
.sharepost ul li a {
    color: #fff;
    display: block;
}
.sharepost .icon {
    font-size: 22px;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 2px;
}
.facebook {
    background-color: #3c599f
}
.twitter {
    background-color: #4099ff
}
.whatsapp {
    background-color: #2e8a06
}
.share-box {
    text-align: center;
}
.caption {
    color: #565757;
    font-size: 12px;
}
.desc {
    margin-top: 20px;
    margin-bottom: 10px;
}
.thanks {
    font-size: 18px !important;
}
.comment-box-content {
    margin-top: 10px;
    border-top: dashed 1px #ebebeb;
    background: #ccc;
}
.comment-child {
    background: #fff;
    padding: 10px;
    color: #222;
    margin-bottom: 20px;
    border-bottom: dashed 1px #ebebeb;
}
